*~
aclocal.m4
autom4te.cache/
ChangeLog
config.h
config.h.in
config.log
config.status
configure
configure.scan
cscope.*
data/config
data/scripts/stylesdir.pl
data/styles/Default.style
doc/waimea.1
INSTALL
*.log
Makefile
Makefile.in
*.o
scripts/
src/.deps/
src/waimea
stamp-*
.*.sw[opr]
